.sliderContainerWithArrows {
	position: relative;
	width: 100%;
	height: 500px;
	margin: 3rem auto;
	align-self: center;
}

.slideImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 0.7s ease-in-out;
	border-radius: 10px;
}

.slideImage.active {
	opacity: 1;
}

.imageSliderWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 36px;
	color: #fdf0d5;
	z-index: 1;
	cursor: pointer;
}

.leftArrow {
	left: 16px;
}

.rightArrow {
	right: 16px;
}

.dotsContainer {
	display: flex;
	justify-content: center;
	padding: 4px;
}

.dot {
	margin: 0 8px;
	cursor: pointer;
	font-size: 16px;
}

.dot:hover {
	scale: 1.1;
	transition: scale 0.2s;
}

.mid-plane,
.textContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.mid-plane {
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.4;
}

.textContainer {
	color: #fdf0d5;
	max-width: 800px;
	width: 90%;
	text-align: center;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text {
	font-size: 24px;
	text-align: center;
	line-height: 1.5;
	font-weight: bold;
}

.title {
	font-size: 38px;
	color: #fdf0d5;
	text-align: center;
	font-weight: bold;
}

button {
	position: relative;
	margin: 20px;
	padding: 30px 50px;
	background: none;
	border: 1px solid #fdf0d5;
	border-radius: 8px;
	color: #fdf0d5;
	font-size: 28px;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
}

button::before,
button::after {
	display: block;
	position: absolute;
	content: '';
	transition: all 0.5s;
	z-index: -1;
}

/* slide */
.slide {
	width: 180px;
	height: 95px;
	background-color: #780000;
	box-shadow: 0 0 2px #fdf0d5;
	border-radius: 25px;
}

.slide::after {
	height: 100%;
	top: 0;
	left: -10px;
	border-left: 2px solid #fdf0d5;
	z-index: 2;
}
.slide::before {
	width: 100%;
	top: -10px;
	left: 0;
	border-top: 3px solid #fdf0d5;
	transition-delay: 0.1s;
	z-index: 2;
}

.slide:hover::after {
	left: 300px;
}
.slide:hover::before {
	top: 100px;
}

.span1,
.span2 {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-weight: bold;
}

.span1 {
	left: 50%;
	transition: 0.5s;
}

.span2 {
	left: -50%;
	transition: 0.5s 0.1s;
	font-size: 28px;
}

.slide:hover .span1 {
	left: 150%;
}
.slide:hover .span2 {
	left: 50%;
}

.iconDog {
	font-size: 40px;
	color: #fdf0d5;
	z-index: 10;
	display: inline-block;
}
