.animalsContainer {
	padding: 2rem;
	text-align: center;
}

.animalsContainer h1 {
	margin-bottom: 3rem;
}

.animalsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 2rem;
}

.animalCard {
	border: 1px solid var(--darkgreen);
	box-shadow: 0 0 4px var(--darkgreen);
	background-color: transparent;
	perspective: 1000px;
	height: 450px;
	border-radius: 8px;
	overflow: hidden;
}

.animalImage {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 1rem;
}

.animalCard:hover .animalCardInner {
	transform: rotateY(180deg);
}

.animalCardInner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.animalCardFront,
.animalCardBack {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.animalCardBack {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	background-color: var(--secondary);
	color: var(--extra);
	transform: rotateY(180deg);
}

.animalCardBack h2 {
	color: var(--darkgreen);
}

.knowMoreAboutAnimalButton {
	background-color: var(--primary);
	color: var(--darkgreen);
	height: 12%;
	width: 50%;
	border-radius: 14px;
	text-transform: uppercase;
	padding: 0.4rem;
	font-size: 16px;
	transition: all 0.6s;
	justify-self: center;
	border: 1px solid var(--darkgreen);
}

.knowMoreAboutAnimalButton:hover {
	background-color: var(--darkgreen);
	color: var(--secondary);
	border: 1px solid var(--primary);
	cursor: pointer;
}

.pagesButtonsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	padding: 3rem;
}

.pagesButtonsContainer button {
	height: 40px;
	padding: 10px;
	border-radius: 8px;
	background-color: var(--extra);
	border: 1px solid var(--darkgreen);
	color: var(--primary);
	transition: all 0.2s;
}

.circleButton {
	width: 40px;
}

.extremeButton {
	height: 40px;
}

.pagesButtonsContainer button:hover {
	background-color: var(--primary);
	color: var(--extra);
	cursor: pointer;
}

.pagesButtonsContainer button.active {
	background-color: var(--primary);
	color: var(--extra);
}
