.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.imageSliderContainer {
	width: 60%;
	height: 400px;
	margin: 0 auto;
}

.introductionContainer {
	width: auto;
	margin: 3rem;
}
