.teamContainer {
	width: 100%;
	background-color: #780000;
}

.titleTeam {
	text-align: center;
	text-transform: uppercase;
}

.contentTeamContainer {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	gap: 50px;
	flex-wrap: wrap;
	padding: 20px;
}

.teamImageContainer {
	transition: transform 0.2s ease;
}

.teamImageContainer:hover {
	transform: scale(1.02);
}

.teamImage {
	width: 600px;
	max-width: 100%;
	box-shadow: 0 0 4px #fdf0d5;
	border-radius: 10px;
}

.textTeam {
	font-size: 20px;
	max-width: 500px;
	color: #fdf0d5;
	line-height: 1.6;
	text-align: start;
}
