.teamContainer {
	width: 100%;
	background-color: #eaeaea;
}

.titleTeam {
	text-align: center;
	text-transform: uppercase;
}

.contentTeamContainer {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	gap: 50px;
	flex-wrap: wrap;
	padding: 20px;
}

.teamImageContainer:hover {
	scale: 1.02;
	transition: scale 0.2s;
}

.teamImage {
	width: 600px;
	max-width: 100%;
	box-shadow: 0 0 4px #006bd6;
	border-radius: 10px;
}

.textTeam {
	font-size: 20px;
	max-width: 500px;
	color: #333;
	line-height: 1.6;
	text-align: start;
}
