.footerContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	padding: 14px 0;
	background-color: var(--extra);
	color: var(--primary);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.categoriesContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 90%;
	margin: 0 auto;
	padding: 0 2rem;
	gap: 8rem;
	flex-wrap: wrap;
}

.categoriesContainer h3 {
	font-size: 20px;
}

.categoryBox {
	flex: 1;
	text-align: start;
}
