html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	padding-top: 40px;
}
.container {
	min-height: 100vh;
}

h1,
h2 {
	color: var(--darkgreen);
}

:root {
	--primary: #fcfbf4;
	--secondary: #d7e4cb;
	/* --extra: #54962b; */
	--extra: #254e37;
	--black: #121212;
	--text-light: #ebebeb;
	--greytext: #5b5b5b;
	--darkgreen: #254e37;
}
