.donationContainer {
}

.donationImageContainer {
	position: relative;
	height: 500px;
	background-image: url('../../assets/img/donationDog.jpg');
	background-size: cover;
	background-position: center;
}

.donationImageContainer::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 160px;
	background: linear-gradient(to bottom, transparent, #fef6e4);
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(255, 248, 220, 0.7), transparent);
	z-index: 1;
}

.textOnImageContainer {
	position: absolute;
	z-index: 10;
	text-align: center;
	width: 100%;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--darkgreen);
	padding: 0 20px;
}

.textOnImageContainer h1 {
	font-size: 48px;
}

.gradientBackground {
	display: flex;
	position: relative;
	padding: 4rem 2rem;
	z-index: 1;
	text-align: center;
	background-color: #fef6e4;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.buttonsWithAmountContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3rem;
}
.payNowButton {
	max-width: 300px;
	min-height: 65px;
}

.amountButton {
	max-width: 200px;
	min-height: 50px;
	background-color: var(--secondary);
	width: auto;
	font-size: 18px;
}

.optionsContainer {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.optionToDonateContainer {
	width: 30%;
}

.iconsStyle {
	font-size: 72px;
	color: var(--darkgreen);
}
